node_modules
.next
.git
.gitignore
.github
*.md
pnpm-workspace.yaml
.env
.env.*
!.env.example
docker-compose.yml
Dockerfile
.prettierrc
.prettierignore
coverage
playwright-report
test-results
docs
.vercel
.DS_Store
